<div id="header">
  <div class="container">
    <%= link_to home_path do %>
      <div id="site-title">
        <h1><%= t "general.project_name" %></h1>
      </div>
    <% end %>
    <h2><%= t "general.project_subtitle" %></h2>
  </div>

  <%= render_overridable("layouts/body", "languages") %>
  <%= render_overridable("layouts/body", "navbar") %>
  <%= render_overridable("layouts/body", "breadcrumbs") %>
</div><!-- /header -->
