<head>
  <title>
    <% if @title.present? %><%= @title %> | <% end %>
    <%= t "general.project_shortname" %>
  </title>
  <%= render_overridable("layouts/head", "meta") %>
  <%= render_overridable("layouts/head", "analytics") %>
  <%= render_overridable("layouts/head", "favicon") %>
  <%= render_overridable("layouts/head", "fonts") %>
  <%= render_overridable("layouts/head", "stylesheets") %>
  <%= render_overridable("layouts/head", "scripts") %>
</head>
