<head>
  <title>
    <% if @title.present? %><%= @title %> | <% end %>
    <%= t "general.project_shortname" %>
  </title>
  <%= render "layouts/head/meta" %>
  <%= render "layouts/head/favicon" %>
  <%= render "layouts/head/stylesheets" %>
  <%= render "layouts/head/scripts" %>
</head>
