<div class="row searchbox">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-10">
            <%= form_tag(search_path, :method => "get", :class => "input-group") do %>
              <!-- search box -->
              <%= text_field_tag(:q, params[:q], :placeholder => "Search for...", :class => "form-control") %>
              <!-- add existing search parameters to query -->
              <%= render partial: "partials/search_hidden_fields" %>
              <!-- submit -->
              <span class="input-group-btn">
                <%= submit_tag "Search", class: "btn btn-primary", name: nil, data: { disable_with: false } %>
              </span>
            <% end %>
            <%= render partial: "partials/search_help" %>
            <%= link_to "Browse All Items", search_path %>
          </div>
          <div class="col-md-2">
            <%= link_to "Reset Search", search_path, :class => "btn btn-danger clear_main_search_text" %>
          </div>
        </div> <!-- /row -->
      </div> <!-- /panel-body -->
    </div> <!-- /panel-default -->
  </div> <!-- /col-md-12 -->
</div> <!-- /row /searchbox -->
