<%# iterate through all of the configured facets
    and match them with the incoming solr facet results %>
<%# TODO refactor the top portion of this %>
<% if facets %>
  <% @page_facets.each do |facet_name, info| %>
    <% if should_display?(facets[facet_name], info) %>
      <% facet_res = facets[facet_name] %>
      <% data_safe_name = facet_name.parameterize  %>
      <% fparams = pull_out_fparams %>
      <% start_open = fparams.include?(facet_name) %>
      <% class_in =  start_open ? "in" : "" %>
      <% class_glyphicon = start_open ? "glyphicon-chevron-down" : "glyphicon-chevron-right" %>

      <div class="panel panel-default panel-filter panel-filter-<%= info['label'].parameterize %>">

        <!-- panel heading -->
        <div class="clearfix panel-heading" data-toggle="collapse"
             data-target="#fc-<%= data_safe_name %>" role="Option"
             aria-label="<%= t("search.filters.show", label: info['label'], default: "Show #{info['label']} Filters") %>">
          <h3 class="pull-left panel-title"><%= info["label"] %></h3>
          <span class="pull-right glyphicon <%= class_glyphicon %>" aria-hidden="true"></span>
        </div>

        <!-- panel body -->
        <%# if requested parameter, then do not collapse facet %>
        <div class="panel-body collapse <%= class_in %>" id="fc-<%= data_safe_name %>">
          <ul class="list-unstyled">
            <% facet_res.each do |key, value| %>
              <%# NOTE the below line accommodates Apium v1.0 as well as
                  v1.1 when facet responses included more information %>
              <% key, label, num = format_facet_response(key, value) %>

              <% selected = facet_selected?(facet_name, key) %>

              <% text = create_label(
                facet_label(
                  type: facet_name,
                  normalized: key,
                  label: label
                ),
                t("search.filters.no_label")
              ) %>

              <!-- list item -->
              <% if !selected %>
                <li>
                  <%= link_to label, prefix_path(route_path,
                    facet_link(facet_name, key)), rel: "nofollow" %>
                  <span class="badge"><%= value %></span>
                </li>
              <% else %>
                <li class="selected">
                  <span><%= label %></span>
                  <span class="badge"><%= value %></span>
                  <%= link_to prefix_path(route_path,
                    remove_facet(facet_name, key)), rel: "nofollow" do %>
                    <button class="btn btn-default btn-xs"
                            title="<%= t("search.filters.clear", label: info['label'], default: "Clear #{info['label']} Filter") %>"
                            aria-label="<%= t("search.filters.clear", label: info['label'], default: "Clear #{info['label']} Filter") %>">
                      <span class="pull-right glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                  <% end %>
                </li>
              <% end %>
            <% end %>
          </ul>

          <%= link_to t("search.filters.see_more", default: "See more"),
            prefix_path("browse_facet_path",
            facet: facet_name.parameterize(separator: ".")),
            class: "btn btn-info btn-xs", rel: "nofollow", role: "button" %>
        </div> <!-- /panel-body -->

      </div> <!-- /panel panel-default -->
    <% end %>
  <% end %>
<% end %>
