<% if @res.count > 0 %>
  <% @res.items.each do |item| %>
    <div class="searchResults">
      <h3><%= search_item_link(item) %></h3>
      <div class="row">
        <div class="<%= item["highlight"].present? ? "col-md-4" : "col-md-12" %> search_results_info">
          <ul>
            <% if item["date_display"].present? %>
              <li>
                <strong><%= t "search.results.item.date", default: "Date" %></strong>:
                <span><%= item["date_display"] %></span>
              </li>
            <% end %>
            <%# creator is a multivalued, nested field %>
            <% if item["creator"].present? %>
              <li>
                <strong>
                  <%= t "search.results.item.creator", default: "Creator(s)" %>
                </strong>:
                <% item["creator"].each do |c| %>
                  <span><%= c["name"] %></span>
                <% end %>
              </li>
            <% end %>
            <%# format can be a multivalued or single keyword field %>
            <% if item["format"].present? %>
              <li>
                <strong>
                  <%= t "search.results.item.format", default: "Format" %>
                </strong>:
                <% if item["format"].is_a? Array %>
                  <% item["format"].each do |f| %>
                    <span><%= value_label("format", f) %></span>
                  <% end %>
                <% else %>
                  <span><%= value_label("format", item["format"]) %>
                <% end %>
              </li>
            <% end %>
            <%# source can be a multivalued or single keyword field %>
            <% if item["source"].present? %>
              <li>
                <strong>
                  <%= t "search.results.item.source", default: "Source" %>
                </strong>:
                <% if item["source"].is_a? Array %>
                  <% item["source"].each do |s| %>
                    <span><%= s %></span>
                  <% end %>
                <% else %>
                  <span><%= item["source"] %></span>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
        <% if item["highlight"].present? %>
          <div class="col-md-8 search_results_text">
            <% item["highlight"].each do |key, hls| %>
              <div class="search_results_highlights well">
                <strong><%= key.titleize %>:</strong>
                <% hls.each do |hl| %>
                  <p><%= hl.html_safe %></p>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
