<% if @res.present? && @res.count && @res.count > 0 %>
  <% @res.items.each do |item| %>
    <div class="searchResults buffer-bottom-sm">
      <h3><%= search_item_link(item) %></h3>
      <div class="row">
        <div class="<%= item["highlight"].present? ? "col-md-4" : "col-md-12" %> search_results_info">
          <ul>
            <% if item["date_display"].present? %>
              <li>
                <%= metadata(item, t("search.results.item.date",
                  default: "Date"), "date_display", link: false) %>
              </li>
            <% end %>
            <%# creator is a multivalued, nested field %>
            <% if item["creator"].present? %>
              <li>
                <%= metadata(item, t("search.results.item.creator",
                  default: "Creator"), "creator.name", link: false) %>
              </li>
            <% end %>
            <%# format can be a multivalued or single keyword field %>
            <% if item["format"].present? %>
              <li>
                <%= metadata(item, t("search.results.item.format",
                  default: "Format"), "format", link: false) %>
              </li>
            <% end %>
            <%# source can be a multivalued or single keyword field %>
            <% if item["has_source"]["title"].present? %>
              <li>
                <%= metadata(item, t("search.results.item.has_source.title",
                  default: "Source"), "has_source.title", link: false) %>
              </li>
            <% end %>
          </ul>
        </div>
        <% if item["highlight"].present? %>
          <div class="col-md-8 search_results_text">
            <% item["highlight"].each do |key, hls| %>
              <div class="search_results_highlights well">
                <strong><%= key.titleize %>:</strong>
                <% hls.each do |hl| %>
                  <p><%= hl.html_safe %></p>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
