<% if @res.count > 0 %>
  <% @res.items.each do |item| %>
    <div class="searchResults">
      <div class="row">
        <div class="col-md-12 search_results_info">
          <% title_display = item.key?("title") && item["title"].length > 0 ? item["title"] : "Untitled" %>
          <%= link_to title_display, item_path(item["identifier"]) %>
          <ul>
            <% if item["date_display"] %>
              <li>
                <strong>Date</strong>:
                <%= link_to item["date_display"], search_path({ "f[]" => "date|#{item['date']}" }) %>
              </li>
            <% end %>
            <% if item["creator"] %>
              <li>
                <strong>Creator(s)</strong>:
                <% item["creator"].each do |c| %>
                  <%= link_to c["name"], search_path({ "f[]" => "creator.name|#{c['name']}" }) %>
                <% end %>
              </li>
            <% end %>
            <% if item["format"] %>
              <li>
                <strong>Format</strong>:
                <%= link_to item["format"], search_path({ "f[]" => "format|#{item['format']}" }) %>
              </li>
            <% end %>
            <% if item["source"] %>
              <li>
                <strong>Source</strong>:
                <%= link_to item["source"], search_path({ "f[]" => "source|#{item['source']}" }) %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="col-md-8 search_results_text">
          <% item["highlight"].each do |key, hls| %>
            <div class="search_results_highlights well">
              <strong><%= key.titleize %>:</strong>
              <% hls.each do |hl| %>
                <p><%= hl.html_safe %></p>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
