<% if @res.count > 0 %>
  <% @res.items.each do |item| %>
    <div class="searchResults">
      <div class="row">
        <h3><%= search_item_link(item) %></h3>
        <div class="<%= item["highlight"].present? ? "col-md-4" : "col-md-12" %> search_results_info">
          <ul>
            <% if item["date_display"] %>
              <li>
                <strong><%= t "search.results.item.date", default: "Date" %></strong>:
                <span><%= item["date_display"] %></span>
              </li>
            <% end %>
            <%# creator is a multivalued, nested field %>
            <% if item["creator"].present? %>
              <li>
                <strong><%= t "search.results.item.creator", default: "Creator(s)" %></strong>:
                <% item["creator"].each do |c| %>
                    <span><%= c["name"] %></span>
                <% end %>
              </li>
            <% end %>
            <% if item["format"].present?  %>
              <li>
                <strong><%= t "search.results.item.format", default: "Format" %></strong>:
                <% label = value_label("format", item["format"]) %>
                <span><%= label %></span>
              </li>
            <% end %>
            <% if item["source"].present?  %>
              <li>
                <strong><%= t "search.results.item.source", default: "Source" %></strong>:
                <span><%= item["source"] %></span>
              </li>
            <% end %>
          </ul>
        </div>
        <% if item["highlight"].present? %>
          <div class="col-md-8 search_results_text">
            <% item["highlight"].each do |key, hls| %>
              <div class="search_results_highlights well">
                <strong><%= key.titleize %>:</strong>
                <% hls.each do |hl| %>
                  <p><%= hl.html_safe %></p>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
