<div class="row searchbox">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-10">
            <%= form_tag prefix_path(route_path), method: "get",
              class: "input-group" do %>
              <%# search box %>
              <%= text_field_tag(:q, params[:q], :placeholder => t("search.placeholder", default: "Search for..."), :class => "form-control") %>
              <%# add existing search parameters to query %>
              <%= render_overridable("items", "hidden_fields") %>
              <%# submit %>
              <span class="input-group-btn">
                <%= submit_tag t("search.submit", default: "Search"), class: "btn btn-primary", name: nil, data: { disable_with: false } %>
              </span>
            <% end %>
            <%= render_overridable("items", "help") %>
            <%= link_to t("search.view_all", default: "View All Items"),
              prefix_path(route_path), rel: "search" %>
          </div>
          <div class="col-md-2">
            <%= link_to t("search.clear_all", default: "Clear Search"),
              prefix_path(route_path),
              class: "btn btn-danger clear_main_search_text", rel: "search", role: "button" %>
          </div>
        </div> <%# /row %>
      </div> <%# /panel-body %>
    </div> <%# /panel-default %>
  </div> <%# /col-md-12 %>
</div> <%# /row /searchbox %>
