<div class="row searchbox">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <%= form_tag prefix_path(route_path), method: "get", role: "search", 
              class: "input-group" do %>
              <%# search box %>
              <%= text_field_tag(:q, params[:q], :placeholder => t("search.placeholder", default: "Search for..."), :class => "form-control", aria: { label: "Search" }) %>
              <%# add existing search parameters to query %>
              <%= render_overridable("items", "hidden_fields") %>
              <%# submit %>
              <span class="input-group-btn">
                <%= submit_tag t("search.submit", default: "Search"), class: "btn btn-primary", name: nil, data: { disable_with: false } %>
              </span>
            <% end %>
          </div>
          <div class="col-xs-8">
            <%= render_overridable("items", "help") %>
          </div>
          <div class="col-xs-4 text-right">
            <%= link_to t("search.clear_all", default: "Reset Search"),
              prefix_path(route_path),
              class: "clear_main_search_text", rel: "search" %>
          </div>
        </div> <%# /row %>
      </div> <%# /panel-body %>
    </div> <%# /panel-default %>
  </div> <%# /col-md-12 %>
</div> <%# /row /searchbox %>
