<div class="metadata">
  <ul>
    <%= metadata @res, "Title", "title", false %>
    <%= metadata @res, "Date", "date_display" %>
    <%= metadata @res, "Author(s)", "creators" %>
    <%= metadata @res, "Format", "format" %>
    <%= metadata @res, "Category", "category" %>
    <%= metadata @res, "Subcategory", "subcategory" %>
    <%= metadata @res, "Works", "works" %>
    <%= metadata @res, "Place(s)", "places" %>
    <li><strong>TEI XML: </strong><a href="<%= @res['uriXML'] %>"><%= @res["identifier"] %>.xml</a>
  </ul>
</div>
