<div class="metadata">
  <ul>
    <%= metadata @res, t("item.metadata.title", default: "Title"), "title", false %>
    <%= metadata @res, t("item.metadata.date", default: "Date"), "date_display" %>
    <%= metadata @res, t("item.metadata.creators", default: "Author(s)"), "creators" %>
    <%= metadata @res, t("item.metadata.format", default: "Format"), "format" %>
    <%= metadata @res, t("item.metadata.category", default: "Category"), "category" %>
    <%= metadata @res, t("item.metadata.subcategory", default: "Subcategory"), "subcategory" %>
    <%= metadata @res, t("item.metadata.works", default: "Works"), "works" %>
    <%= metadata @res, t("item.metadata.places", default: "Place(s)"), "places" %>
    <% if @res["uri_data"].present? %>
        <li><strong>Source Document: </strong>
            <a href="<%= @res["uri_data"] %>"><%= File.basename(@res["uri_data"]) %></a>
        </li>
    <% end %>
  </ul>
</div>
