<div class="metadata">
  <ul>
    <% if @res["title"].present? %>
      <li>
        <%= metadata(@res, t("item.metadata.title", default: "Title"),
          "title", link: false) %>
      </li>
    <% end %>
    <% if @res["date_display"].present? %>
      <li>
        <%= metadata(@res, t("item.metadata.date", default: "Date"),
                     "date_display") %>
      </li>
    <% end %>
    <% if @res["creator"].present? %>
      <li>
        <%= metadata(@res, t("item.metadata.creators", default: "Author(s)"),
                     "creator.name") %>
      </li>
    <% end %>
    <% if @res["format"].present? %>
      <li>
        <%= metadata(@res, t("item.metadata.format", default: "Format"),
                     "format") %>
      </li>
    <% end %>
    <% if @res["category"].present? %>
      <li>
        <%= metadata(@res, t("item.metadata.category", default: "Category"),
                     "category") %>
      </li>
    <% end %>
    <% if @res["subcategory"].present? %>
      <li>
        <%= metadata(@res, t("item.metadata.subcategory",
                     default: "Subcategory"), "subcategory") %>
      </li>
    <% end %>
    <% if @res["works"].present? %>
      <li>
        <%= metadata(@res, t("item.metadata.works", default: "Works"),
                     "works") %>
      </li>
    <% end %>
    <% if @res["places"].present? %>
      <li>
        <%= metadata(@res, t("item.metadata.places", default: "Place(s)"),
                     "places") %>
      </li>
    <% end %>
    <%# When copying this template into projects, consider adding rel tag to the source link
    to note the format and if the link is external %>
    <% if @res["uri_data"].present? %>
    <li><strong>Source Document: </strong>
      <a href="<%= @res["uri_data"] %>"><%= File.basename(@res["uri_data"]) %></a>
    </li>
    <% end %>
  </ul>
</div>
