<%# expects
  - "sort_by" sort value (e.g. "title|asc")
%>

<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle"
    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Sort by:
    <% if sort_by == "relevancy|desc" %>
      Relevancy
    <% elsif sort_by == "date|asc" %>
      Date (earliest first)
    <% elsif sort_by == "date|desc" %>
      Date (latest first)
    <% elsif sort_by == "title|asc" %>
      Title (A-Z)
    <% elsif sort_by == "title|desc" %>
      Title (Z-A)
    <% else %>
      <%= params["sort"].size == 1 ? params["sort"].first : params["sort"] %>
    <% end %>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <% if params["q"].present? %>
      <li>
        <%= link_to "Relevancy", search_path(sort("relevancy", "desc")) %>
      </li>
      <li role="separator" class="divider"></li>
    <% end %>
    <li>
      <%= link_to "Date (earliest first)", search_path(sort("date", "asc")) %>
    </li>
    <li>
      <%= link_to "Date (latest first)", search_path(sort("date", "desc")) %>
    </li>
    <li role="separator" class="divider"></li>
    <li>
      <%= link_to "Title A-Z", search_path(sort("title", "asc")) %>
    </li>
    <li>
      <%= link_to "Title Z-A", search_path(sort("title", "desc")) %>
    </li>
  </ul>
</div>
