<div class="clearfix search-filters">
  <!-- text search -->
  <% if params["q"].present? %>
    <div class="pull-left form-inline buffer-bottom-sm buffer-right-sm">
      <div class="input-group">
        <div class="input-group-addon" title="Search Text">
          <%= t "search.results.summary.query", default: "Search" %> : <%= params["q"] %>
        </div>
        <div class="input-group-btn" aria-label="<%= t "search.clear_text", default: "Clear Search Text" %>" title="Clear Search Text">
          <%= link_to clear_search_text, class: "btn btn-default btn-sm", role: "button" do %>
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <!-- date search -->
  <% if date_selection?(params["date_from"], params["date_to"]) %>
    <div class="pull-left form-inline buffer-bottom-sm buffer-right-sm">
      <div class="input-group">
        <div class="input-group-addon" title="Date Selection">
          <%= t "search.dates.date", default: "Date" %> :
          <%= @from %> <%= t "search.dates.range_divider", default: "to" %> <%= @to %>
        </div>
        <div class="input-group-btn" title="Clear Date Filter"
             aria-label="<%= t "search.dates.clear_filter", default: "Clear Date Filter" %>">
          <%= link_to search_path(clear_dates_params), class: "btn btn-default btn-sm", role: "button" do %>
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <!-- selected facets -->
  <% if params["f"].present? %>
    <% params["f"].each do |f| %>
      <% type, facet = f.split("|") %>
      <% info = Facets.facet_info[type] %>
      <% label = info ? info["label"] : type.titleize %>

      <div class="pull-left form-inline buffer-bottom-sm buffer-right-sm">
        <div class="input-group">
          <div class="input-group-addon" title="<%= label %> Filter">
            <%= label %> : <%= facet %>
          </div>
          <div class="input-group-btn" title="Clear <%= label %> Filter"
               aria-label="<%= t("search.filters.clear", label: info['label'], default: "Clear #{info['label']} Filter") %>">
            <%= link_to search_path(remove_facet(type, facet)), class: "btn btn-default btn-sm", role: "button" do %>
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
