<%# expects
  - "facet_sort" sort value (e.g. "count|desc")
%>

<h2>Browse by <%= @browse_facet_info["label"] %></h2>

<nav>
  <ul class="nav nav-tabs bottom-buffer" role="tablist">
    <% Facets.facet_info.each_with_index do |(facet_name, facet_info), index| %>
      <li role="presentation" class="<%= active?(facet_name, @browse_facet) %>">
        <% if facet_name == @browse_facet %>
          <a href="#"><%= facet_info["label"] %></a>
        <% else %>
          <% id = facet_name.parameterize(separator: ".") %>
          <%= link_to browse_facet_path(id), "aria-controls": id, role: "tab" do %>
            <%= facet_info["label"] %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
</nav>

<div class="btn-group bottom-buffer-sm">
  <button type="button" class="btn btn-default dropdown-toggle"
    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Sort by:
    <% if facet_sort == "count|desc" %>
      Count (Most first)
    <% elsif facet_sort == "count|asc" %>
      Count (Least first)
    <% elsif facet_sort == "term|asc" %>
      Alphabetically (A-Z)
    <% elsif facet_sort == "term|desc" %>
      Alphabetically (Z-A)
    <% else %>
      <%= facet_sort.size == 1 ? facet_sort.first : facet_sort %>
    <% end %>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li>
      <%= link_to "Count (Most first)",
        browse_facet_path(facet_sort: "count|desc") %>
    </li>
    <li>
      <%= link_to "Count (Least first)",
        browse_facet_path(facet_sort: "count|asc") %>
    </li>
    <li role="separator" class="divider"></li>
    <li>
      <%= link_to "Alphabetically (A-Z)",
        browse_facet_path(facet_sort: "term|asc") %>
    </li>
    <li>
      <%= link_to "Alphabetically (Z-A)",
        browse_facet_path(facet_sort: "term|desc") %>
    </li>
  </ul>
</div>

<div class="tab-content">
  <% Facets.facet_info.each_with_index do |(facet_name, facet_info), index| %>
    <% id = facet_name.parameterize(separator: ".")  %>
    <div role="tabpanel" class="tab-pane <%= active?(facet_name, @browse_facet) %>" id="<%= id %>">
      <% if @res.has_key?(facet_name) %>
        <ul>
          <% @res[facet_name].each do |list| %>
            <li>
              <%= link_to search_path("f" => ["#{facet_name}|#{list[0]}"]) do %>
                <% text = list[0].blank? ? "No label" : list[0] %>
                <span class="browsename"><%= text %></span>
                <span class="badge"><%= list[1] %></span>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
</div>

