<%# expects
  - "facet_sort" sort value (e.g. "count|desc")
%>

<h2>Browse by <%= @browse_facet_info["label"] %></h2>

<nav>
  <ul class="nav nav-tabs bottom-buffer" role="tablist">
    <% Facets.facet_info.each_with_index do |(facet_name, facet_info), index| %>
      <li role="presentation" class="<%= active?(facet_name, @browse_facet) %>">
        <% if facet_name == @browse_facet %>
          <a href="#"><%= facet_info["label"] %></a>
        <% else %>
          <% id = facet_name.parameterize(separator: ".") %>
          <%= link_to browse_facet_path(id), "aria-controls": id, role: "tab" do %>
            <%= facet_info["label"] %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
</nav>

<div class="btn-group bottom-buffer-sm">
  <button type="button" class="btn btn-default dropdown-toggle"
    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Sort by: <%= sort_facet_selected_label(facet_sort) %>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <%# add facet sort fields %>
    <% sort_facet_fields.each do |facet_sort, label| %>
      <% if label != "separator" %>
        <li><%= link_to label, browse_facet_path(facet_sort: facet_sort) %></li>
      <% else %>
        <li role="separator" class="divider"></li>
      <% end %>
    <% end %>
  </ul>
</div>

<div class="tab-content">
  <% Facets.facet_info.each_with_index do |(facet_name, facet_info), index| %>
    <% id = facet_name.parameterize(separator: ".")  %>
    <div role="tabpanel"
      class="tab-pane <%= active?(facet_name, @browse_facet) %>" id="<%= id %>">
      <% if @res.has_key?(facet_name) %>
        <ul class="list-unstyled">
          <% @res[facet_name].each do |list| %>
            <li class="row">
              <%= link_to search_path("f" => ["#{facet_name}|#{list[0]}"]) do %>
                <% text = list[0].blank? ? "No label" : list[0] %>
                <div class="col-lg-5 col-md-6 col-sm-8 col-xs-10 browse-item">
                  <span><%= text %></span>
                </div>
                <div class="col-md-1 col-xs-2">
                  <span class="badge"><%= list[1] %></span>
                </div>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
</div>

