<%# expects
  - "sort_by" sort value (e.g. "count|desc")
%>

<h1><%= t "browse.browse_type", default: "Browse by" %> <%= @browse_facet_info["label"] %></h1>
<nav>
  <ul class="nav nav-tabs buffer-bottom" role="tablist">
    <% @page_facets.each_with_index do |(facet_name, facet_info), index| %>
      <li role="presentation" class="<%= active?(facet_name, @browse_facet) %>">
        <% if facet_name == @browse_facet %>
          <a href="#" tabindex="-1"><%= facet_info["label"] %></a>
        <% else %>
          <% id = facet_name.parameterize(separator: ".") %>
          <%= link_to prefix_path("browse_facet_path", facet: id),
            "aria-controls": id, role: "tab" do %>
            <%= facet_info["label"] %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
</nav>

<div class="tab-content">
  <% @page_facets.each_with_index do |(facet_name, facet_info), index| %>
    <% id = facet_name.parameterize(separator: ".")  %>
    <div role="tabpanel"
      class="tab-pane <%= active?(facet_name, @browse_facet) %>" id="<%= id %>">
      <%# need to find the "correct" facet name %>
      <% original_facet = facet_name %>
      <% facet_name = facet_info["alternate"] if facet_info["alternate"] %>
      <% if @res && @res.key?(facet_name) %>
        <table class="index_table">
          <tbody>
            <% @res[facet_name].each do |key, value| %>
              <%# NOTE the below line accommodates Apium v1.0 as well as
                  v1.1 when facet responses included more information %>
              <% key, label, num = format_facet_response(key, value) %>
              <% selected = facet_selected?(original_facet, key) %>
              <% if !selected %>
                <tr>
                    <% text = create_label(
                      facet_label(
                        type: facet_name,
                        normalized: key,
                        label: label
                      ),
                      t("browse.no_label")
                    ) %>
                    <td class="index_num">
                      <%= link_to prefix_path(route_path,
                        f: ["#{original_facet}|#{key}"]), rel: "nofollow" do %>
                        <%= num %>
                      <% end %>
                    </td>
                    <td class="index_spacer">
                      <%= link_to prefix_path(route_path,
                        f: ["#{original_facet}|#{key}"]), rel: "nofollow" do %>
                        <span></span>
                      <% end %>
                    </td>
                    <td class="index_name">
                      <%= link_to prefix_path(route_path,
                        f: ["#{original_facet}|#{key}"]), rel: "nofollow" do %>
                        <%= sanitize text %>
                      <% end %>
                    </td>
                </tr>
              <% else %>
                  <tr class = "selected" >
                    <% text = create_label(
                      facet_label(
                        type: facet_name,
                        normalized: key,
                        label: label
                      ),
                      t("browse.no_label")
                    ) %>
                    <td class="index_num">
                      <%= link_to prefix_path(route_path,
                        f: ["#{original_facet}|#{key}"]), rel: "nofollow" do %>
                        <%= num %>
                      <% end %>
                    </td>
                    <td class="index_spacer">
                      <%= link_to prefix_path(route_path,
                        f: ["#{original_facet}|#{key}"]), rel: "nofollow" do %>
                        <span></span>
                      <% end %>
                    </td>
                    <td class="index_name">
                      <%= link_to prefix_path(route_path,
                        f: ["#{original_facet}|#{key}"]), rel: "nofollow" do %>
                        <%= sanitize text %>
                      <% end %>
                    </td>
                    <td>
                      <%= link_to prefix_path(route_path,
                          remove_facet(facet_name, key)), rel: "nofollow" do %>
                          <button class="btn btn-default btn-xs"
                                  title="<%= t("search.filters.clear", label: @page_facets[facet_name]['label'], default: "Clear #{@page_facets[facet_name]['label']} Filter") %>"
                                  aria-label="<%= t("search.filters.clear", label: @page_facets[facet_name]['label'], default: "Clear #{@page_facets[facet_name]['label']} Filter") %>">
                            <span class="pull-right glyphicon glyphicon-remove" aria-hidden="true"></span>
                          </button>
                      <% end %>
                    </td>
                </tr>
              <% end %>
            <% end %>
          <tbody>
        </table>
      <% end %>
    </div>
  <% end %>
</ul>
<%= link_to "Search", prefix_path("home_path", f: params[:f]), rel: "nofollow", class: "btn btn-default" %>
