<%# expects
  - "sort_by" sort value (e.g. "count|desc")
%>

<%= render_overridable "items", "browse_facet_header" %>

<nav>
  <ul class="nav nav-tabs buffer-bottom" role="tablist">
    <% @page_facets.each_with_index do |(facet_name, facet_info), index| %>
      <li role="presentation" class="<%= active?(facet_name, @browse_facet) %>">
        <% if facet_name == @browse_facet %>
          <%# TODO Fix a11y - Shouldn't be in tab order / focusable %>
          <a href="#"><%= facet_info["label"] %></a>
        <% else %>
          <% id = facet_name.parameterize(separator: ".") %>
          <%= link_to prefix_path("browse_facet_path", facet: id),
            "aria-controls": id, role: "tab" do %>
            <%= facet_info["label"] %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
</nav>

<div class="btn-group buffer-bottom-sm">
  <button type="button" class="btn btn-default dropdown-toggle"
    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= t "browse.sort_by", default: "Sort by" %>: <%= sort_selected_label("facets", sort_by) %>
    <span class="caret"></span>
  </button>

  <ul class="dropdown-menu">
    <% sort_fields_facets.each do |sort_field, label| %>
      <%= render_overridable("items", "sort_dropdown_item", label: label,
        sort_url: prefix_path("browse_facet_path", facet_sort: sort_field)) %>
    <% end %>
  </ul>
</div>

<div class="tab-content">
  <% @page_facets.each_with_index do |(facet_name, facet_info), index| %>
    <% id = facet_name.parameterize(separator: ".")  %>
    <div role="tabpanel"
      class="tab-pane <%= active?(facet_name, @browse_facet) %>" id="<%= id %>">
      <% if @res.key?(facet_name) %>
        <table class="index_table">
          <tbody>
            <% @res[facet_name].each do |list| %>
              <tr>
                  <% text = list[0].blank? ? t("browse.no_label", default: "No label") : value_label(facet_name, list[0]) %>
                  <td class="index_num">
                    <%= link_to prefix_path(route_path,
                      f: ["#{facet_name}|#{list[0]}"]), rel: "nofollow" do %>
                      <%= list[1] %>
                    <% end %>
                  </td>
                  <td class="index_spacer">
                    <%= link_to prefix_path(route_path,
                      f: ["#{facet_name}|#{list[0]}"]), rel: "nofollow" do %>
                      <span></span>
                    <% end %>
                  </td>
                  <td class="index_name">
                    <%= link_to prefix_path(route_path,
                      f: ["#{facet_name}|#{list[0]}"]), rel: "nofollow" do %>
                      <%= text %>
                    <% end %>
                  </td>
              </tr>
            <% end %>
          <tbody>
        </table>
      <% end %>
    </div>
  <% end %>
</div>

