<h2>Search Results</h2>

<!-- search form -->

<div class="row search_form">
  <%= render "search_box" %>

  <div class="col-md-3">
    <div class="clearfix">
      <h4 class="pull-left">Filter by:</h4>
      <%= render "clear_facets" %>
    </div>
    <%= render "date_limit" %>
    <%= render "facets", facets: @res.facets %>
  </div> <!-- col-md-3 -->

  <div class="col-md-9">
    <%= render "summary_boxes" %>
    <%= render "sort_and_page_ui" %>

    <!-- search results section -->
    <h4>Your search for <%= params["q"] %> returned <%= pluralize @res.count, "result" %></h4>

    <%= render "search_res_items" %>

    <div class="col-md-9 pagination_container">
      <%= paginator @res.pages %>
    </div>
  </div>
</div>
