<% @site_section = "search" %>
<% if params["q"].blank? && params["f"].blank? %>
  <h2><%= t "search.all_items", default: "All Items" %></h2>
<% else %>
  <h2><%= t "search.search_results", default: "Search Results" %></h2>
<% end %>

<div class="row search_form">
  <%= render "search_box" %>

  <div class="col-sm-3">
    <div class="clearfix">
      <h4 class="pull-left">
        <%= t "search.filters.filter_by", default: "Filter by" %>:
      </h4>
      <%= render "clear_facets" %>
    </div>
    <%= render "date_limit" %>
    <%= render "facets", facets: @res.facets %>
  </div> <!-- col-md-3 -->

  <div class="col-sm-9">
    <%= render "summary_boxes" %>
    <%= render "sort_and_page_ui" %>

    <!-- search results section -->
    <%= render "search_res_count" %>
    <%= render "search_res_items" %>

    <%= render "sort_and_page_ui" %>
  </div>
</div>
